<!-- <my-hello-world></my-hello-world> -->

<!-- <div style="background: gray">
  ...
</div> -->
<app-dashboard bmiTemp={{bmiTemp}} ></app-dashboard>
<br>
<br>

<button (click)="adicionarEmpleado($event)" >Adicionar Empleado</button>
<br>
<input type="text" (keydown)="verificarTecla($event)" />


<div *ngFor="let e of empleados; let i = index" [ngStyle]="{'background': i % 2 == 0 ? 'gray' : 'white' }" >
  <app-card 
    empleado={{e.nombre}} 
    altura={{e.altura}} 
    peso={{e.peso}} 
    esMujer={{e.esMujer}}
    (enviarBMIEvent)="recibirBMI($event)"
    >
  </app-card>
</div>

